[alias]
	new = !git init && git add . && git commit -m \"Initial commit\"
[user]
	name = Justmoong
	email = andudyun0504@gmail.com
[core]
	excludesfile = /Users/ymy/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
